batchjobexample/src/main/mule/socketFile.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd">
	<sockets:request-config name="Sockets_Request_config" doc:name="Sockets Request config" doc:id="6305e1ae-72b3-410a-9ff2-23896deda045" >
		<sockets:tcp-requester-connection host="localhost" port="22" />
	</sockets:request-config>
	<sockets:listener-config name="Sockets_Listener_config" doc:name="Sockets Listener config" doc:id="1cfe4f4d-4700-4a5a-8aa0-d3959a744c83" >
		<sockets:tcp-listener-connection host="localhost" port="8084" />
	</sockets:listener-config>
	<flow name="socketFileFlow" doc:id="eedc8191-87c9-4d09-87c1-64c8bc9f3637" >
		<sockets:listener doc:name="Listener" doc:id="d55ea1b3-5224-425a-afd7-45f0daef9dd7" config-ref="Sockets_Listener_config"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="7ed1c687-9b79-48d6-95ae-909d89f2790f" />
		<sockets:send doc:name="Send" doc:id="6de7836f-b43d-49dd-8163-5b491a5d3309" config-ref="Sockets_Request_config"/>
		<logger level="INFO" doc:name="Logger" doc:id="ef4b47f5-0df7-40af-a555-86511a4b11b1" message="payload sent via socket Send: #[payload]"/>
	</flow>
</mule>
