muleapp/src/main/mule/muleapp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c6f4861d-d6ba-432e-9828-3d210bf77ab0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="muleappFlow" doc:id="c763b8f3-8b31-4bbe-ba5b-f9a43a186521" >
		<http:listener doc:name="Listener" doc:id="1a0b3f0d-bb02-4ff6-8469-aa0aaf51fa18" config-ref="HTTP_Listener_config" path="/muleapp"/>
		<set-payload value='#["hello world1"]' doc:name="Set Payload" doc:id="53d322a6-7a77-4f3f-b163-a8ece56279c3" />
	</flow>
</mule>
